<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
      <span>Salamtak</span>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/about">About Us</a>
      </li>
      <li>
        <a (click)="goToFeatures()">Features</a>
      </li>
      <li>
        <a (click)="goToHow()">How It Works</a>
      </li>
      <li>
        <!-- <a routerLink="/patient/book-appointment">
          Find a Doctor
        </a> -->
        <a (click)="handleFindDoctor()">
          Find a Doctor
        </a>

      </li>
    </ul>
    <div class="actions">

      <div class="login-btn" routerLink="/login">
        <i class="fa-regular fa-user"></i>
        <span>Login</span>
      </div>
    </div>
  </div>
</nav>